:root {
  --text-color: #fafafa;
  --font-bold: 'Jersey 10', sans-serif;
  --font-regular: 'Google Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;
  background-color: #101010;

  color: var(--text-color);
}
